.main {
  border-left: 1px solid var(--bg-light-blue);
  padding: 40px 40px 0 40px;
  height: calc(100vh - 60px);
}

.article {
  background: var(--bg-light-blue);
  padding: 30px;
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.article__title {
  width: 910px;
  padding: 0 30px;
  font-size: 24px;
  line-height: 1.666;
  font-weight: 700;
}

.article__title-input {
  width: 910px;
  height: 40px;
  padding: 0 30px;
  font-size: 24px;
  line-height: 1.666;
  font-weight: 700;
  border: 1px solid var(--c-blue);
  border-radius: 8px;
  color: var(--c-text);
  font-family: var(--font-jp);
}

.article__body {
  display: flex;
  flex: 1;
  gap: 20px;
  overflow-y: auto;
}

.article__body-input {
  padding: 26px 30px;
  overflow-y: auto;
  border-radius: 8px;
  width: 910px;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
  border: 1px solid var(--c-blue);
  font-family: var(--font-jp);
}

.article__content {
  background: #fff;
  padding: 26px 30px;
  overflow-y: auto;
  border-radius: 8px;
  width: 910px;
}

.article__text {
  white-space: pre-wrap;
}

.article__btn-wrapper {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
